<!--<div class="row">-->
  <!--<div class="col-3">-->
    <!--<ul class="list-group">-->
      <!--<li class="active list-group-item">-->
        <!--Courses-->
      <!--</li>-->
      <!--<li *ngFor="let course of courses"-->
          <!--(click)="selectCourse(course)"-->
      <!--<a routerLink="/course/{{course.id}}" class="btn btn-dark float-right " href="#">View</a>-->
          <!--[ngClass]="{'active': course.id === selectedCourse.id}"-->
          <!--class="webdev list-group-item">-->
        <!--{{course.title}}-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
<div class="row">
  <div *ngFor="let course of courses" class="col-sm-3" >
    <div class="card mt-2 mb-2">
      <img class="card-img-top" src="https://picsum.photos/300/200" alt="Card Image Cap"/>
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
      </div>
      <div class="card-footer">
        <a routerLink="/course/{{course.id}}" class="btn btn-dark float-right " href="#">View</a>
      </div>

    </div>
  </div>
</div>

